*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;
  font-size: 18px;
}

#root ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}